* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
.Home {
    height: 70vh;
    background-image: url('Image-01.jpg');
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    background-size: 100% 100%;
    padding: 0px 2cm ;
}
.btn-j:hover {
    transform: scale(1.2);
    transition: 2ms;
}
a {
    padding: 8px;
    text-decoration: none;
    color: rgb(250, 244, 244);
    font-weight: bold;
    font-size: 14pt;
}
a:hover {
    color: rgb(247, 211, 6);
}
.Welcome {
    height: 50vh;
    width: 100%;
    padding-top: 10px;
    background-image: url("Paints.png");
    background-repeat: no-repeat;
}
.img-hov {
    box-shadow: 0 5px 5px rgb(189, 185, 185);
}
.img-hov:hover {
    transform: scale(1.2);
    transition: 2ms;
}
.icon-hover:hover {
    transition: 2ms;
    transform: rotateX(40deg);
}
.Projects {
    height: 52vh;

}
.Pricing {
    height: 42vh;
}
.price{
    text-align: center;
    padding: 15px;
    border-right: 2px solid rgb(216, 207, 207);
    border-left: 2px solid rgb(216, 207, 207);
    border-radius: 5px 2px 2px 0px;
    height: 20px;
}
.Team {
    height: 70vh;
    background-image: url("Team.jfif");
}
.Blog {
    height: 55vh;
    padding-top: 10px;
    background-color: rgb(83, 11, 116);
    color: white;
}
.Contact {
    height: 60vh;
}
td {
    text-align: center;
    padding: 5px 150px;
    font-size: 16px;
    font-weight: bold;
}
.table-hover:hover {
    transition: 6ms;
    transform: scale(1.1);
}
.btn-hover:hover {
    color: rgb(34, 32, 32);
    background-color: rgb(247, 231, 20);
    box-shadow: 0 5px rgb(146, 144, 144);
    transform: translateY(4px);
    transition: 2ms;
}
.btn-hov:hover {
    color: white;
    background-color: rgb(145, 16, 145);
    box-shadow: 0 5px rgb(146, 144, 144);
    transform: translateY(4px);
}
.table-blog {
    text-align: center;
    padding: 15px;
}
.btn:hover {
    box-shadow: 0 5px rgb(146, 144, 144);
    transform: translateY(4px);
    transition: 2ms;
}
@media screen and (max-width:620px) {
    .Home, .Welcome, .Projects, .Pricing, .Team , .Blog ,.Contact {
        width: 100%;
    }
    
}